* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
}

.home {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.input_box {
  margin: 10px;
}

.create_form {
  
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 2px solid gray;
  margin-bottom: 15px;
}

.create_form label {
  padding: 10px;
  font-size: larger;
}

.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  padding: 10px;
  margin-top: 12px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.task {
  display: flex;
  font-size: 24px;
  align-items:  center;
  width:  50%;
  justify-content:  space-around;
  background-color:  black;
  color: white;
  height: 60px;
  padding:  2px 5px 2px 5px;
  margin-top:  2px;
}